.cache/
auto-save-list/
backups/
ellama-sessions/
eln-cache/
elpa/
elpy/
eshell/
lib/
librime/
org-persist/
straight/
transient/
url/
var/
request/

.dap-breakpoints
.edbi-ds-history
.last-package-update-day
.org-generic-id-locations
.org-id-locations
amx-items
bookmarks
custom.el
forge-database.sqlite
history
init-private.el
multisession
places
prescient
projectile-bookmarks.eld
projects
recentf
tramp

*~
.#*
\#*\#
